.buttonBox {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 30px;
}

.buttonBox:hover {
    /* background-color: aqua; */
    --tokenOpacity: 0;
    --closeOpacity: 1;
}

:root {
    --tokenOpacity: 1;
    --closeOpacity: 0;
}

@property --tokenOpacity {
    syntax: "<opacity>";
    initial-value: 0;
}

@property --closeOpacity {
    syntax: "<opacity>";
    initial-value: 1;
}



.closeIcon {
    grid-area: 1/1/1/1;
    opacity: var(--closeOpacity);
}

.tokenIcon {
    grid-area: 1/1/1/1;
    opacity: var(--tokenOpacity);
}